erddapData
logs

.idea
*.iml
.project

# Ignore env configuration
.env

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Mac-created folder
.DS_Store

# In erddap/content, copy setup_(dev|prod).xml to setup.xml based on environment
content/setup.xml

# Rebuild datasets.xml with datasetsd.sh
content/datasets.xml

# Ignore Station 27 test links
station-27/test-links/

